.explorer {
  border-right: 2px solid var(--color-border);
  background-color: var(--color-element-background-dark);
  height: 100%;

  .header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border);

    .dbDetails {
      height: 48px;
      border-bottom: 1px solid var(--color-border);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
      gap: 10px;

      .icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: var(--color-element-background-light);
      }

      .texts {
        display: flex;
        flex-direction: column;

        .title {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          font-weight: var(--font-weight-semibold);
        }

        .description {
          font-size: var(--font-size-xs);
          line-height: var(--line-height-xs);
          color: var(--color-font-light);
        }
      }
    }

    .searchBox {
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0px 15px;
      gap: 10px;

      input {
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;
        height: 100%;
        color: var(--color-font);
        font-size: var(--font-size-s);
        line-height: var(--line-height-s);
      }
    }
  }

  .noTables {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    margin-top: 60px;
    gap: 15px;

    .icon {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-element-background-light);
      border-radius: 50%;
    }

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .title {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          font-weight: var(--font-weight-semibold);
        }

        .description {
            font-size: var(--font-size-s);
            line-height: var(--line-height-s);
            color: var(--color-font-light);
            text-align: center;
        }
    }
  }
}
