.editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  .editorWrapper {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .codeControls {
    height: 48px;
    border-top: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    padding: 10px 7px 10px 15px;
    justify-content: space-between;

    .info {
      display: flex;
      align-items: center;
      gap: 10px;

      .affectedRows,
      .totalRows {
        font-size: var(--font-size-s);
        line-height: var(--line-height-s);
        font-weight: var(--font-weight-semibold);
        color: var(--color-font-light);
        border-right: 2px solid var(--color-border);
        padding: 0 15px 0px 0px;

        &:last-child {
          border-right: none;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      .queryActions {
        display: flex;
        align-items: center;
        border-right: 1px solid var(--color-border);
        padding: 0px 5px;

        .iconButton {
          height: 34px;
          width: 34px;
          border: none;
          border-radius: var(--radius-m);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-transparent);
          color: var(--color-font-light);

          &:hover {
            background-color: var(--color-element-background-dark);
            color: var(--color-font);
            cursor: pointer;
          }
          
        }
      }

      .runButton {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34px;
        padding: 5px 5px 5px 10px;
        border-radius: 5px;
        background: #058648;
        color: white;
        cursor: pointer;
        transition: background 0.2s;
        border: none;

        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          font-weight: var(--font-weight-semibold);
          gap: 5px;

          .cmdEnter {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
          }
        }

        .loader {
          position: absolute;
          z-index: 1;
          opacity: 0;
        }

        &.loading {
          background-color: #045c31;
          .content {
            opacity: 0;
          }
          .loader {
            opacity: 1;
          }
        }

        &:hover {
          background: #057a42;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
