.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .contents {
        display: flex;
        align-items: stretch;
        flex: 1;
        height: 100%;
        overflow: hidden;
    }
}