.editorLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    flex: 1;
    width: 100%;

    .editor {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}