.navbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);

  .branding {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .logo {
      width: 28px;
      height: 28px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-element-background-light);
    }

    h1 {
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      font-weight: var(--font-weight-bold);
      font-family: "Roboto Mono", monospace;

      span {
        font-size: var(--font-size);
        line-height: var(--line-height-s);
        font-weight: var(--font-weight-bold);
        font-family: "Roboto Mono", monospace;
        color: var(--color-font-light);
      }
    }
  }
}
